@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap');
/* Background color */

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Cormorant Garamond', serif;
    background-color: darkred;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
    padding: 20px;
}

main {
    flex-grow: 1;
}

#instructions-area {
    /*border: 2px solid #7454fa;
    border-radius: 12px;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #000;
}

.big-heading {
    padding: 20px;
}
/* Circular container */
.semi-circ-container {
    width: 125px;
    height: 250px;
    border: 2px solid darkred;
}

.right-semi-circ {
    border-radius: 12rem 0 0 12rem;
    float: right;
}

.left-semi-circ {
    border-radius: 0 12rem 12rem 0;
    float: left;
}

.instructions-text {
    padding: 10px;
    line-height: 150%;
}

.input {
    padding: 10px;
    display: flex;
    align-items: center;
}

#name-submit {
    font-family: 'Cormorant Garamond', serif;
    border-radius: 12px;
    padding: 10%;
}

.quiz-btn-main {
    background-color: darkred;
    padding: 10px;
    border-radius: 12px;
    border: 2px solid darkred;
    color: #ffffff;
    font-weight: bold;
}

.footer-semi-circ {
    width: 200px;
    height: 100px;
    border: 2px solid #7454fa;
    border-radius: 12rem 12rem 0 0;
    float: center;
}

.supervil-img {
    height: 200px;
    border-radius: 50%;
    background: url('') no-repeat center center;
}

/* Style buttons */



/* Set the styles for the quiz container */
.quiz-container {
    background-color: #111;
    padding: 20px;
    margin: 0 auto;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

/* Set the styles for the quiz questions */
.question-container {
    border: 2px solid darkred;
    border-radius: 12px;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    
}

#question {
    font-weight: bold;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    border: 1px solid gold;
    border-radius: 12px;
    padding: 50px;
}

/* Set the styles for the quiz options */
.options {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.option {
    font-size: 18px;
    margin-bottom: 20px;
}

.quiz-answer-btn {
    margin: 0 auto;
    border: 2px solid darkred;
    border-radius: 12px;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
    font-weight: bold;
    background-color: darkred;
}

/* Set the styles for the quiz results */
.quiz-results {
    margin-top: 30px;
}

/* Set the styles for the quiz score */
.final-result {
    font-size: 24px;
    font-weight: bold;
}

/* Set the styles for the quiz feedback */
.quiz-feedback {
    font-style: italic;
    margin-top: 10px;
}