@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap');
/* Background color */

* {
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Cormorant Garamond', serif;
    background-color: #880808;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
    padding: 20px;
    padding-bottom: 0;
}

main {
    flex-grow: 1;
}

.hide {
    display: none !important;
}

/* Instructions Area */

#instructions-area {
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #000;
    border-top: 2px solid #FFD700;
    border-bottom: 2px solid #FFD700;
    padding: 0;
}

.big-heading {
    font-size: 200%;
    line-height: 120%;
    padding: 20px;
    font-weight: 1000px;
    margin: 0 auto;
}

.semi-circ-container {
    width: 125px;
    height: 250px;
}

.left-semi-circ {
    background: url('../images/cruella_result_two.png') no-repeat center center;
    border-radius: 0 12rem 12rem 0;
    float: left;
    border-right: 2px solid #FFD700;
    border-bottom: 2px solid #FFD700;
    border-top: 2px solid #FFD700;
    padding-right: 20px;
}

.right-semi-circ {
    background: url('../images/maleficent_res.png') no-repeat center center;
    border-radius: 12rem 0 0 12rem;
    float: right;
    border-left: 2px solid #FFD700;
    border-bottom: 2px solid #FFD700;
    border-top: 2px solid #FFD700;
    padding-left: 20px;
}

.instructions {
    line-height: 150%;
}

.instructions-text {
    padding: 0 10px;
}

.instr-left {
    text-align: left;
}

.instr-right {
    text-align: right;
}

#name-submit {
    font-family: 'Cormorant Garamond', serif;
    border-left: 5px solid #088888;
    border-radius: 12px;
    padding: 5%;
    margin: 0 auto;
}

.quiz-btn-main {
    background-color: #880808;
    border-radius: 12px;
    border: 2px solid #ffffff;
    color: #ffffff;
    font-weight: bold;
    padding: 5%;
    margin: 10% 0;
    width: 70%;
    transition: color .4s ease;
}

.quiz-btn-main:hover {
    background-color: #088888;
    
}

/* Quiz Area */
.quiz-container {
    background-color: #111;
    padding: 20px;
    margin: 0 auto;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    border-bottom: 2px solid #FFD700;
    border-top: 2px solid #FFD700;
    height: 575px;
}

#progress-text {
    font-size: 150%;
    padding-bottom: 20px;
}

.question-container {
    border: 2px solid #880808;
    border-radius: 12px;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}

#question {
    font-weight: bold;
    font-size: 140%;
    color: #ffffff;
    text-align: center;
    border: 1px solid #FFD700;
    border-radius: 12px;
    padding: 50px;
}

.options {
    margin-top: 20px;
}

.option {
    margin-bottom: 20px;
}

.quiz-answer-btn {
    margin: 0 auto;
    border: 2px solid #088888;
    border-radius: 12px;
    color: #ffffff;
    cursor: pointer;
    font-size: 90%;
    padding: 10px 20px;
    font-weight: bold;
    background-color: #088888;
    transition: all .2s ease-in-out; 
    width: 100%;
}

.quiz-answer-btn:hover {
    transform: scale(1.1); 
}

/* Results area */

#result-area {
    background-color: #000;
    border-bottom: 2px solid #FFD700;
    border-top: 2px solid #FFD700;
    border-radius: 12px;
    max-width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 5px;
}

.circle-container {
    height: 280px;
    width: 280px;
    border: 2px solid #FFD700;
    border-radius: 50%;
    margin: 0 auto;
    padding: 10px;
}

.super-vil-img {
    border-radius: 50%;
    width: 280px;
    height: 280px;
    margin: 0 auto;
}

.medium-heading {
    font-size: 180%;
    line-height: 120%;
    padding: 20px 20px 0 20px;
    font-weight: bold;
    margin: 0 auto;
}

.result-feedback {
    line-height: 150%;
    padding: 20px;
    font-size: 110%;
}

.resultOne {
    background: url('../images/voldemort_result_one.png');
}

.resultTwo {
    background: url('../images/cruella_result_two.png');
}

.resultThree {
    background: url('../images/joker_result_three.png');
}

.resultFour {
    background: url('../images/green_goblin_result_four.png');
}

.resultFive {
    background: url('../images/thanos_result_five.png');
}

.resultSix {
    background: url('../images/vecna_result_six.png');
}

.resultSeven {
    background: url('../images/maleficent_result_seven.png');
}

.resultEight {
    background: url('../images/magneto_result_eight.png');
}

/* Footer Area */

footer {
    left: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    background: #1f1f1f;
    padding-top: 20px;
    padding-bottom: 0;
    color: #ffffff;
    border-top: 2px solid #FFD700;
    border-radius: 12px;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3 {
    font-size: 120%;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 120%;
}

.footer-content p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 120%;
    font-size: 100%;
    color: #ffffff;
}

.social-links {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 1rem 0;
}

.social-links li {
    margin: 0 10px;
}

.social-links i {
    font-size: 150%;
    color: #FFD700;
    transition: color .4s ease;
}

.social-links i:hover {
    color: #088888;
}

.footer-copyright {
    height: auto;
    background: #000000;
    width: 100%;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
}

.footer-copyright p {
    margin: 0 auto;
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

/* Style content on 404 page */

#error-div {
    font-size: 120%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#error-div p {
    padding: 0 5%;
}

#logo {
    height: 250px;
    width: 250px;
}

#go-home-btn {
    background-color: #880808;
    border-radius: 12px;
    border: 2px solid #ffffff;
    color: #ffffff;
    font-weight: bold;
    padding: 5%;
    margin: 10% 0;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .2s ease-in-out; 
}

#go-home-btn:hover {
    transform: scale(1.1); 
}


/* Media Queries */

/* For Small devices (landscape phones, 576px and above)*/

@media screen and (min-width: 576px) {
    
}

/* For Medium Devices (tablets, iPads, 768px and above) */

@media screen and (min-width: 768px) {

    body,
    .quiz-container {
        padding: 40px;
    }

    .semi-circ-container {
        width: 200px;
        height: 400px;
    }

    .right-semi-circ {
        background-color: #1f1f1f;
    }

    .instructions-text {
        text-align: center;
        font-size: 150%;
        line-height: 150%;
        margin: 0 auto;
    }

    .big-heading {
        font-size: 300%;
        line-height: 150%;
        text-align: center;
        font-weight: bold;
    }

    #name-submit {
        width: 89%;
        font-size: 150%;
    }

    .quiz-btn-main {
        width: 100%;
        font-size: 150%;
    }

    #question {
        font-size: 250%;
    }

    .option {
        font-size: 200%;
    }

    .quiz-answer-btn {
        font-size: 80%;
    }

    .circle-container {
        height: 300px;
        width: 300px;
    }

    .super-vil-img {
        width: 300px;
        height: 300px;
    }
    
    .footer-content h3 {
        font-size: 180%;
        line-height: 150%;
    }
    
    .footer-content p {
        font-size: 150%;
    }
    
    .social-links i {
        font-size: 180%;
    }

    .footer-copyright p {
        font-size: 120%;
    }

    #error-div {
        font-size: 160%;
    }

    #error-div p {
        padding: 0 3%;
    }
    
    #logo {
        height: 425px;
        width: 425px;
        padding-top: 20px;
    }
    
    #go-home-btn {
        font-weight: bold;
        padding: 3%;
    }

}

/* For Large Devices (Desktops, 992px and above) */

@media screen and (min-width: 992px) {
    
    #instructions-area {
        padding: 20px;
    }
    
    .semi-circ-container {
        width: 300px;
        height: 300px;
    }
    
    .left-semi-circ {
        border-radius: 50%;
        border:2px solid #FFD700;
    }
    
    .right-semi-circ {
        border-radius: 50%;
        border:2px solid #FFD700;
    }

    .instructions-text {
        font-size: 160%;
    }

    .big-heading {
        font-size: 320%;
    }

    .circle-container {
        height: 300px;
        width: 300px;
    }
    
    .footer-content h3 {
        font-size: 180%;
        line-height: 150%;
    }
    
    .footer-content p {
        font-size: 150%;
    }
    
    .social-links i {
        font-size: 180%;
    }

    .footer-copyright p {
        font-size: 120%;
    }


    #error-div {
        font-size: 160%;
    }

    #error-div p {
        padding: 0 2%;
    }
    
    #logo {
        height: 500px;
        width: 500px;
        padding-top: 20px;
    }
    
    #go-home-btn {
        margin-top: 20px;
        margin-bottom: 20px;
    }

}
    
/* For Extra Large Devices (Large desktops, 1200px and above */

@media screen and (min-width: 1200px) {
    .quiz-container {
        padding: 40px;
        width: 800px;
        height: 700px;
        margin: 0 auto;
    }
    
    .question-container {
        padding: 20px;
    }
    
    #question {
        font-size: 40px;
        padding: 60px;
    }

    .option {
        padding: 10px;
    }
    
    .quiz-answer-btn {
        font-size: 35px;
    }

}